Use eBird API to Create REF table in funData database

In [1]:
import requests as req
import json
import pandas as pd
import numpy as np
import pyodbc
import sqlalchemy
import urllib

In [8]:
apiToken = 'qfosq81fn99u'
headers_dict = {'X-eBirdApiToken' : apiToken}
resp = req.get(f'https://api.ebird.org/v2/ref/taxonomy/ebird', headers=headers_dict)
print(len(resp.text))

speciesList = []

cntr = 0
for line in resp.text.split('\n'):

    entries = line.split(',')   

    if cntr == 0:
        cntr +=1
        continue
  
    if len(entries) <= 1:
        continue 

    speciesList.append([entries[2], entries[1], entries[0], entries[6], entries[8], entries[9], entries[10], entries[14] ])
    
    cntr+=1



arr = np.array(speciesList)
df = pd.DataFrame(data=arr, columns=['Species_Code', 'Species', 'Scientific_Name', 'Sci_Name_Codes', 'Order', 'Family_Com_Name', 'Family_Sci_Name', 'Family_Code'])
df['Species'] = df['Species'].apply(lambda x: x.title())
df['Order'] = df['Order'].apply(lambda x: x.replace('"', '').title())
df['Family_Com_Name'] = df['Family_Com_Name'].apply(lambda x: x.replace('"', '').title())

params = urllib.parse.quote_plus \
(r'Driver={ODBC Driver 17 for SQL Server};Server=tcp:ruffserver.database.windows.net,1433;Database=funData;Uid=connorruff;Pwd=Charlotte99!;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = sqlalchemy.create_engine(conn_str, echo=True)

typesDict = {'index': sqlalchemy.INTEGER(),'Species_Code': sqlalchemy.types.NVARCHAR(length=10), 'Species': sqlalchemy.types.NVARCHAR(length=80), 'Scientific_Name': sqlalchemy.types.NVARCHAR(length=80), 'Sci_Name_Codes': sqlalchemy.types.NVARCHAR(length=30), 'Order': sqlalchemy.types.NVARCHAR(length=80), 'Family_Com_Name': sqlalchemy.types.NVARCHAR(length=80), 'Family_Sci_Name': sqlalchemy.types.NVARCHAR(length=80), 'Family_Code': sqlalchemy.types.NVARCHAR(length=10)}
df.to_sql('TAXONOMY', con=engine, schema='REF', if_exists='replace', index=True, dtype=typesDict)

2389075
2022-01-04 13:30:04,942 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2022-01-04 13:30:04,944 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-04 13:30:04,988 INFO sqlalchemy.engine.Engine SELECT schema_name()
2022-01-04 13:30:04,991 INFO sqlalchemy.engine.Engine [generated in 0.00277s] ()
2022-01-04 13:30:05,072 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2022-01-04 13:30:05,073 INFO sqlalchemy.engine.Engine [generated in 0.00134s] ()
2022-01-04 13:30:05,141 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2022-01-04 13:30:05,143 INFO sqlalchemy.engine.Engine [generated in 0.00173s] ('BASE TABLE', 'TAXONOMY', 'REF')
2022-01-04 13:30:05,268 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2022-01-04 13:30:05,271 INFO sqlalchemy.engine.Engine [cached since 0.1298s ago] ('BASE TABLE', 'TAXONOMY', 'REF')
2022-01-04 13:30:05,384 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-01-04 13:30:05,386 INFO sqlalchemy.engine.Engine [generated in 0.00193s] ('REF', 'BASE TABLE')
2022-01-04 13:30:05,471 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2022-01-04 13:30:05,473 INFO sqlalchemy.engine.Engine [generated in 0.00151s] ('.', '.', 'TAXONOMY', 'REF')
2022-01-04 13:30:05,555 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2022-01-04 13:30:05,556 INFO sqlalchemy.engine.Engine [generated in 0.00141s] ('TAXONOMY', 'REF')
2022-01-04 13:30:06,028 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY constraint_schema, constraint_name, ordinal_position

2022-01-04 13:30:06,028 INFO sqlalchemy.engine.Engine [generated in 0.00295s] ('TAXONOMY', 'REF')
2022-01-04 13:30:08,391 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2022-01-04 13:30:08,394 INFO sqlalchemy.engine.Engine [generated in 0.00332s] ('TAXONOMY', 'REF')
2022-01-04 13:30:08,469 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2022-01-04 13:30:08,470 INFO sqlalchemy.engine.Engine [generated in 0.00095s] ('TAXONOMY', 'REF')
2022-01-04 13:30:08,633 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-04 13:30:08,637 INFO sqlalchemy.engine.Engine
DROP TABLE [REF].[TAXONOMY]
2022-01-04 13:30:08,639 INFO sqlalchemy.engine.Engine [no key 0.00224s] ()
2022-01-04 13:30:08,681 INFO sqlalchemy.engine.Engine COMMIT
2022-01-04 13:30:08,750 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-04 13:30:08,752 INFO sqlalchemy.engine.Engine
CREATE TABLE [REF].[TAXONOMY] (
	[index] BIGINT NULL,
	[Species_Code] NVARCHAR(10) NULL,
	[Species] NVARCHAR(80) NULL,
	[Scientific_Name] NVARCHAR(80) NULL,
	[Sci_Name_Codes] NVARCHAR(30) NULL,
	[Order] NVARCHAR(80) NULL,
	[Family_Com_Name] NVARCHAR(80) NULL,
	[Family_Sci_Name] NVARCHAR(80) NULL,
	[Family_Code] NVARCHAR(10) NULL
)


2022-01-04 13:30:08,752 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2022-01-04 13:30:08,791 INFO sqlalchemy.engine.Engine CREATE INDEX [ix_REF_TAXONOMY_index] ON [REF].[TAXONOMY] ([index])
2022-01-04 13:30:08,792 INFO sqlalchemy.engine.Engine [no key 0.00145s] ()
2022-01-04 13:30:08,829 INFO sqlalchemy.engine.Engine COMMIT
2022-01-04 13:30:08,900 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-04 13:30:09,057 INFO sqlalchemy.engine.Engine INSERT INTO [REF].[TAXONOMY] ([index], [Species_Code], [Species], [Scientific_Name], [Sci_Name_Codes], [Order], [Family_Com_Name], [Family_Sci_Name], [Family_Code]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-04 13:30:09,058 INFO sqlalchemy.engine.Engine [generated in 0.13153s] ((0, 'ostric2', 'Common Ostrich', 'Struthio camelus', 'STCA', 'Struthioniformes', 'Ostriches', 'Struthionidae', 'struth1'), (1, 'ostric3', 'Somali Ostrich', 'Struthio molybdophanes', 'STMO', 'Struthioniformes', 'Ostriches', 'Struthionidae', 'struth1'), (2, 'y00934', 'Common/Somali Ostrich', 'Struthio camelus/molybdophanes', 'STMO STCA', 'Struthioniformes', 'Ostriches', 'Struthionidae', 'struth1'), (3, 'grerhe1', 'Greater Rhea', 'Rhea americana', 'RHAM', 'Rheiformes', 'Rheas', 'Rheidae', 'rheida1'), (4, 'lesrhe2', 'Lesser Rhea', 'Rhea pennata', 'RHPE', 'Rheiformes', 'Rheas', 'Rheidae', 'rheida1'), (5, 'lesrhe4', 'Lesser Rhea (Puna)', 'Rhea pennata tarapacensis/garleppi', 'RHPE', 'Rheiformes', 'Rheas', 'Rheidae', 'rheida1'), (6, 'lesrhe3', "Lesser Rhea (Darwin'S)", 'Rhea pennata pennata', 'RHPE', 'Rheiformes', 'Rheas', 'Rheidae', 'rheida1'), (7, 'tabtin1', 'Tawny-Breasted Tinamou', 'Nothocercus julius', 'NOJU', 'Tinamiformes', 'Tinamous', 'Tinamidae', 'tinami1')  ... displaying 10 of 16753 total bound parameter sets ...  (16751, 'passer1', 'Passerine Sp.', 'Passeriformes sp.', '', 'Passeriformes', '', '', ''), (16752, 'bird1', 'Bird Sp.', 'Aves sp.', '', '', '', '', ''))
2022-01-04 13:40:44,939 INFO sqlalchemy.engine.Engine COMMIT
2022-01-04 13:40:45,028 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-01-04 13:40:45,030 INFO sqlalchemy.engine.Engine [cached since 639.6s ago] ('REF', 'BASE TABLE')

Test: Insert Values Into A Table in the DB

In [41]:

conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:ruffserver.database.windows.net,1433;Database=funData;Uid=connorruff;Pwd=Charlotte99!;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;')
cursor = conn.cursor()
listOVals = [[1, 2], [3, 4], [5, 6]]
query_string = 'INSERT INTO TMP.test_tabl (first_val, second_val) VALUES (?, ?)'
cursor.executemany(query_string, listOVals)
resp = conn.commit()

print(resp)

None

Export SpeciesCode Data From REF table into a file (file was copied into the repo afterwards)

In [52]:
params = urllib.parse.quote_plus \
(r'Driver={ODBC Driver 17 for SQL Server};Server=tcp:ruffserver.database.windows.net,1433;Database=funData;Uid=connorruff;Pwd=Charlotte99!;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = sqlalchemy.create_engine(conn_str, echo=True)

df = pd.read_sql('SELECT Species_Code, Species FROM REF.TAXONOMY', engine)
df.to_json('C:/Users/conno/Desktop/TMP/Taxonomy.json', orient='split')

2022-01-04 17:36:31,048 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2022-01-04 17:36:31,053 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-04 17:36:31,092 INFO sqlalchemy.engine.Engine SELECT schema_name()
2022-01-04 17:36:31,095 INFO sqlalchemy.engine.Engine [generated in 0.00346s] ()
2022-01-04 17:36:31,177 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2022-01-04 17:36:31,180 INFO sqlalchemy.engine.Engine [generated in 0.00368s] ()
2022-01-04 17:36:31,522 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2022-01-04 17:36:31,525 INFO sqlalchemy.engine.Engine [generated in 0.00316s] ('BASE TABLE', 'SELECT Species_Code, Species FROM REF.TAXONOMY', 'dbo')
2022-01-04 17:36:31,639 INFO sqlalchemy.engine.Engine SELECT Species_Code, Species FROM REF.TAXONOMY
2022-01-04 17:36:31,645 INFO sqlalchemy.engine.Engine [raw sql] ()